body {
    background-color: #E3F6FF;
    }
hr {
    border-style: dotted none none;
    width: 10%;
    border-width: 7px;
    border-color: gray;
    }
h1 {
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}
p {
text-size-adjust: 80%;
